@require 'nib'
@require '~modul.markup.ui-kit/markup/stylus/variables'

$prefix-drop = 'ant-select'

.ant-select-dropdown
	position absolute
	margin 0
	padding 0
	box-sizing border-box
	background-color $cl-white
	border-radius 4px
	box-shadow $shadow-1

.ant-select-dropdown-menu
	max-width 240px